.card {
  margin-inline: 10vw;
  width: 80vw;
  height: 70vh;
  position: absolute;
  border-radius: 50px;
  border-color: #6c60c5;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.card-body{
  align-content: center;
  margin-inline: 10vw;
}