#tableContainer {

  height: 65vh;
  width: 100vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.customTable {
  color: black;
  text-align: center;
  font-family: Circular-Std, sans-serif;
}

.customHeader {
  color: #fff;
  background-color: #6c60c5;
  border: none;
}
